<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bookstore</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" crossorigin="anonymous" />
</head>
<body>
<div class="container">
	<h1>Books</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Author</th>
				<th>Title</th>
				<th>ISBN</th>
				<th>Year</th>
				<th>Category</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="Book: ${book}">
				<td th:text="${Book.author}"></td>
				<td th:text="${Book.title}"></td>
				<td th:text="${Book.isbn}"></td>
				<td th:text="${Book.year}"></td>
				<td th:text="${Book.category.categoryName}"></td>
				<td><a class="btn btn-sm btn-danger" th:href="@{/delete/{id}(id=${Book.id})}">Delete</a></td>
				<td><a class="btn btn-sm btn-info" th:href="@{/edit/{id}(id=${Book.id})}">Edit</a></td>
			</tr>
		</tbody>
	</table>
	<a class="btn btn-sm btn-success" th:href="@{/add}">Add Book</a>
</div>
</body>
</html>